body {
    margin: 0;
    padding: 0;
    display: grid;
}

.svg {
    float: left;
    width: 100px;
    /* Adjust the width as needed */
    height: 50px;
    /* Maintains aspect ratio */
}

nav {
    background-color: #1F2937;
    overflow: hidden;
    color: white;
}

.right-links a {
    display: inline-block;
    color: white;
    margin: auto;
    padding: 14px 16px;
    text-decoration: none;
}

#main {
    background-color: #1F2937;
}

.right-links {
    float: right;
    padding: 1px;
}

.First-img img {
    float: right;
    width: 150px;
    height: 120px;
    margin-top: 40px;
    margin-right: 50px;
    margin-bottom: 50px;
}

#first-txt {
    float: left;
    margin-left: 15px;
    padding: 0%;
    color: white;
}

.button { 
    display: inline-block;
    padding: 3px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #3882f3;
    border: none;
    border-radius: 15px;
    box-shadow: 0 3px #999;
}

.button:hover {
    background-color: rgb(35, 121, 155);
    box-shadow: 0 5px #fff;
}

.button:active {
    background-color: #3e8e41;
    box-shadow: 0 7px #ffffff;
    transform: translateY(4px);
}

#quote{
    background-color: #E5E7EB;
}

#quote h3{
    margin: 50px;
    font-style: italic;
    font-size: 36px light;
    font-weight: lighter;
    color: #1F2937;
}

.call-for{
    display: grid;
    margin: 50px;
    padding: 25px;
    background-color: #3883F6;
    border-radius: 12px;
    color: white;
}
/* .call-for h3{
    margin: 50px;
    float: left;
}
.call-for p {
    margin: 50px;
    position:relative;
}*/
.call-for button{
    /* float: right; */
    margin-top: 0%;
    padding-top: 0%;
    display: inline-block;
    padding: 3px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #3882f3;
    border: none;
    border-radius: 15px;
    box-shadow: 0 3px #fff;
} 
#float {
width: 200px;
height: ;
}
footer{
    background-color: #1F2937;
    overflow: hidden;
    color: white;
}